<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ssm.dao.mappers.ProductMapper">
	<insert id="addProduct" parameterType="Product">
		insert into product(id, brand, model, title, price, order_number, 
		 freight, body_color, memory, stock, smart_machine, network_mode, business) 
		values(product_seq.nextval, #{brand}, #{model}, #{title}, #{price}, 
		 #{orderNumber}, #{freight}, #{bodyColor}, #{memory}, #{stock}, 
		 #{smartMachine}, #{networkMode}, #{business})
	</insert>
	
	<select id="findAllProduct" resultType="Product">
		select * from product
	</select>
	
	<select id="findOneProduct" resultType="Product">
		select * from product where id = #{id}
	</select>
	
	<insert id="allTocar" parameterType="Car">
		insert into car(id, user_id, product_id, quantity) 
		values(car_seq.nextval, #{userId}, #{productId}, #{quantity})
	</insert>
	
	<select id="findAllAddress" resultType="ReceivingAddress">
		select * from receiving_address 
		where user_id = #{user_id}
	</select>
	
	<insert id="addAddress" parameterType="ReceivingAddress">
		insert into receiving_address(id, user_id, consignee, where_city, 
		 street_address, postal_code, phone_number) 
		 values(receiving_address_seq.nextval, #{userId}, #{consignee}, 
		#{whereCity}, #{streetAddress}, #{postalCode}, #{phoneNumber})
	</insert>
	
	<insert id="addToCart" parameterType="Car">
		insert into car(id, user_id, product_id, quantity) 
		values(car_seq.nextval, #{userId}, #{productId}, 1)
	</insert>
	
	<delete id="delete" parameterType="Car">
		delete car where id = #{id}
	</delete>
	
	<delete id="batchDelete" parameterType="Car">
		delete car where product_id = #{productId}
	</delete>
	
	<select id="findAllCar" resultMap="carMap">
		select p.id product_id, p.price product_price, 
		  p.business product_business, p.stock product_stock, 
		  p.freight product_freight, p.brand product_brand, 
		  p.model product_model, p.body_color product_bodyColor, 
		  c.id car_id, c.quantity car_quantity 
		from car c inner join product p on c.product_id = p.id 
		 where c.user_id = #{id}
	</select>
	<resultMap type="Car" id="carMap">
		<id property="id" column="car_id"/>
		<result property="quantity" column="car_quantity"/>
		
		<association property="product" javaType="Product">
			<id property="id" column="product_id"/>
			<result property="price" column="product_price"/>
			<result property="business" column="product_business"/>
			<result property="stock" column="product_stock"/>
			<result property="freight" column="product_freight"/>
			<result property="brand" column="product_brand"/>
			<result property="model" column="product_model"/>
			<result property="bodyColor" column="product_bodyColor"/>
		</association>
	</resultMap>
	
	<select id="findAllOrders" resultType="Order">
		select * from vip_orderlist
	</select>
	
	<insert id="createOrder" parameterType="Order">
			insert into vip_orderlist(id, user_id, address_id, product_id, 
		 	 payment_mode, creation_time, state) 
			values(vip_orderlist_seq.nextval, #{userId}, #{addressId}, 
		 	 #{productId}, '支付宝', sysdate, '等待付款')
	</insert>
	
	<delete id="deleteProduct" parameterType="Car">
		delete car where product_id = #{productId}
	</delete>
	
	<delete id="deleteOrder" parameterType="Order">
		delete vip_orderlist where id = #{id}
	</delete>
	
</mapper>