<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ssm.dao.mappers.UserMapper">
	<select id="findOneByUsername" resultType="User">
		select * from shopping_user where username = #{username}
	</select>
	
	<insert id="create">
		insert into shopping_user(id, username, email, phone_number, password) 
		values(shopping_user_seq.nextval, #{username}, #{email}, #{phone_number}, #{password})
	</insert>
	
	<update id="updatePassword" parameterType="User">
		update shopping_user set password = #{password} where id = #{id}
	</update>
	
	<update id="updateVip">
		update shopping_user set real_name = #{real_name}, city = #{city}, 
		sex = #{sex}, email = #{email},	id_card = #{id_card}, introduce = #{introduce} 
		where id = #{id}
	</update>
	
	<select id="findAllAddress" resultType="ReceivingAddress">
		select * from receiving_address 
		where user_id = #{user_id}
	</select>
	
	<select id="findOneIdAddress" resultType="ReceivingAddress">
		select * from receiving_address 
		where id = #{id}
	</select>
	
	<insert id="addAddress" parameterType="ReceivingAddress">
		insert into receiving_address(id, user_id, consignee, where_city, 
		street_address, postal_code, phone_number) 
		values(receiving_address_seq.nextval, #{userId}, #{consignee}, #{whereCity}, #{streetAddress}, 
		#{postalCode}, #{phoneNumber})
	</insert>
	
	<update id="updateAddress" parameterType="ReceivingAddress">
		update receiving_address set consignee = #{consignee}, where_city = #{whereCity}, 
		street_address = #{streetAddress}, postal_code = #{postalCode}, phone_number = #{phoneNumber} 
		where id = #{id}
	</update>
	
	<delete id="deleteAddress" parameterType="ReceivingAddress">
		delete receiving_address where id = #{id}
	</delete>
</mapper>