<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ssm.dao.mappers.UserMapper">
	<select id="findOneByUsername" resultType="User">
		select * from shopping_user where username = #{username}
	</select>
	
	<insert id="create">
		insert into shopping_user(id, username, email, 
		 phone_number, password) 
		values(shopping_user_seq.nextval, #{username}, #{email}, 
		#{phone_number}, #{password})
	</insert>
	
	<update id="updatePassword" parameterType="User">
		update shopping_user set password = #{password} where id = #{id}
	</update>
	
	<select id="findPersonalData" resultType="User">
		select * from shopping_user where id = #{id}
	</select>
	
	<update id="updateVip">
		update shopping_user set real_name = #{realName}, city = #{city}, 
		 sex = #{sex}, email = #{email},	id_card = #{idCard}, 
		 introduce = #{introduce} 
		where id = #{id}
	</update>
	
	<select id="findAllAddress" resultType="ReceivingAddress">
		select * from receiving_address 
		where user_id = #{user_id}
	</select>
	
	<select id="findOneIdAddress" resultType="ReceivingAddress">
		select * from receiving_address 
		where id = #{id}
	</select>
	
	<insert id="addAddress" parameterType="ReceivingAddress">
		insert into receiving_address(id, user_id, consignee, where_city, 
		 street_address, postal_code, phone_number) 
		values(receiving_address_seq.nextval, #{userId}, #{consignee}, 
		 #{whereCity}, #{streetAddress}, #{postalCode}, #{phoneNumber})
	</insert>
	
	<update id="updateAddress" parameterType="ReceivingAddress">
		update receiving_address set consignee = #{consignee}, 
		 where_city = #{whereCity}, street_address = #{streetAddress}, 
		 postal_code = #{postalCode}, phone_number = #{phoneNumber} 
		where id = #{id}
	</update>
	
	<delete id="deleteAddress" parameterType="ReceivingAddress">
		delete receiving_address where id = #{id}
	</delete>
	
	<select id="findAllOrder" resultMap="orderMap">
		select r.id address_id, r.consignee address_consignee, 
		  v.id order_id, v.creation_time order_time, v.state order_state, 
		  v.payment_mode order_pay, v.quantity order_quantity, 
		  p.id product_id, p.price product_price 
		from vip_orderlist v join receiving_address r on v.address_id = r.id 
		  join product p on v.product_id = p.id 
		where v.user_id = #{userId}
	</select>
	<resultMap type="Order" id="orderMap">
		<id property="id" column="order_id"/>
		<result property="creationTime" column="order_time"/>
		<result property="state" column="order_state"/>
		<result property="payment" column="order_pay"/>
		<result property="quantity" column="order_quantity"/>
				
		<association property="receivingAddress" javaType="ReceivingAddress">
			<id property="id" column="address_id"/>
			<result property="consignee" column="address_consignee"/>
		</association>
<!-- 		订单项的collection -->
		<collection property="product" ofType="Product">
			<id property="id" column="product_id"/>
			<result property="price" column="product_price"/>
		</collection>
	</resultMap>
	
	<select id="Orderdetails" resultMap="orderDetailsMap">
		select p.id product_id, p.order_number product_number, 
		  p.brand product_brand, p.model product_model, 
		  p.body_color product_color, 
		  p.price product_price, p.business product_business, 
		  r.id address_id, r.consignee address_consignee, 
		  r.phone_number address_phone, r.postal_code address_code, 
		  r.where_city address_city, r.street_address address_street, 
		  v.id order_id, v.payment_mode order_pay, v.state order_state, 
		  v.quantity order_quantity 
		from vip_orderlist v join receiving_address r on v.address_id = r.id 
		 join product p on v.product_id = p.id 
		where v.id = #{id}
	</select>
		<resultMap type="Order" id="orderDetailsMap">
		<id property="id" column="order_id"/>
		<result property="payment" column="order_pay"/>
		<result property="state" column="order_state"/>
		<result property="quantity" column="order_quantity"/>
				
		<association property="receivingAddress" javaType="ReceivingAddress">
			<id property="id" column="address_id"/>
			<result property="consignee" column="address_consignee"/>
			<result property="phoneNumber" column="address_phone"/>
			<result property="postalCode" column="address_code"/>
			<result property="whereCity" column="address_city"/>
			<result property="streetAddress" column="address_street"/>
		</association>
		<!-- 		订单项的collection -->
		<collection property="product" ofType="Product">
			<id property="id" column="product_id"/>
			<result property="orderNumber" column="product_number"/>
			<result property="brand" column="product_brand"/>
			<result property="model" column="product_model"/>
			<result property="price" column="product_price"/>
			<result property="business" column="product_business"/>
			<result property="bodyColor" column="product_color"/>
		</collection>
	</resultMap>
</mapper>